In [1]:
import requests
import config, json
from iex import IEXStock
from helpers import format_number
from datetime import datetime, timedelta
import pandas as pd

pd.options.display.max_columns = None
pd.options.display.float_format = '{:,.2f}'.format

SyntaxError: invalid syntax (iex.py, line 84)

In [2]:
print(config.IEX_TOKEN)

pk_a90d9f537768487cb94c0a569b623440

In [3]:
stock = IEXStock(config.IEX_TOKEN, 'AAPL', environment='production')
print(stock)

<iex.IEXStock object at 0x7f36ad9569a0>

In [4]:
stock.BASE_URL

'https://cloud.iexapis.com/v1'

In [5]:
logo = stock.get_logo()
print(logo)

{'url': 'https://storage.googleapis.com/iexcloud-hl37opg/api/logos/AAPL.png'}

In [6]:
stats = stock.get_stats()

print(stats)

https://cloud.iexapis.com/v1/stock/AAPL/advanced-stats?token=pk_a90d9f537768487cb94c0a569b623440
{'beta': 1.5168896530347769, 'totalCash': 61696000000, 'currentDebt': 107754000000, 'revenue': 347155000000, 'grossProfit': 142351000000, 'totalRevenue': 347155000000, 'EBITDA': 110935000000, 'revenuePerShare': 21, 'revenuePerEmployee': 2361598.64, 'debtToEquity': 5.131300560049782, 'profitMargin': 0.25003816738920653, 'enterpriseValue': 2479450095760, 'enterpriseValueToRevenue': 7.14, 'priceToSales': 6.97, 'priceToBook': 37.64, 'forwardPERatio': 3.494045998317244, 'pegRatio': 0.5085530493418565, 'peHigh': 13.549325302357351, 'peLow': 10.145067071770969, 'week52highDate': '2021-08-17', 'week52lowDate': '2020-09-21', 'putCallRatio': 0.4238904328809243, 'companyName': 'Apple Inc', 'marketcap': 2419355095760, 'week52high': 151.68, 'week52low': 102.44, 'week52highSplitAdjustOnly': 151.68, 'week52highDateSplitAdjustOnly': '2021-08-17', 'week52lowSplitAdjustOnly': 103.1, 'week52lowDateSplitAdjustOnly': '2020-09-21', 'week52change': 0.2730498921439011, 'sharesOutstanding': 16530166000, 'float': None, 'avg10Volume': 76112168, 'avg30Volume': 72064580, 'day200MovingAvg': 132.29, 'day50MovingAvg': 145.85, 'employees': 147000, 'ttmEPS': 5.1, 'ttmDividendRate': 0.8480583982979361, 'dividendYield': 0.0057943317730113145, 'nextDividendDate': None, 'exDividendDate': '', 'nextEarningsDate': '2021-10-28', 'peRatio': 27.872112344876847, 'maxChangePercent': 55.257687576875774, 'year5ChangePercent': 4.722798525116423, 'year2ChangePercent': 1.8816072107121133, 'year1ChangePercent': 0.27464641538354373, 'ytdChangePercent': 0.10820439238431279, 'month6ChangePercent': 0.131973614094139, 'month3ChangePercent': 0.17404334238171337, 'month1ChangePercent': 0.0012930061366482892, 'day30ChangePercent': 0.02898755526871022, 'day5ChangePercent': 0.0034279446044152007}

In [7]:
stats['beta']

1.5168896530347769

In [8]:
bal_sheet= stock.get_balancesheet(last=4)
df_balancesheet = pd.json_normalize(bal_sheet, record_path =['balancesheet'])
df_balancesheet

,accountsPayable,capitalSurplus,commonStock,currency,currentAssets,currentCash,currentLongTermDebt,filingType,fiscalDate,fiscalQuarter,fiscalYear,goodwill,intangibleAssets,inventory,longTermDebt,longTermInvestments,minorityInterest,netTangibleAssets,otherAssets,otherCurrentAssets,otherCurrentLiabilities,otherLiabilities,propertyPlantEquipment,receivables,reportDate,retainedEarnings,shareholderEquity,shortTermInvestments,symbol,totalAssets,totalCurrentLiabilities,totalLiabilities,treasuryStock,id,key,subkey,date,updated
0,42296000000,None,17352119000,USD,143713000000,90943000000,13769000000,10-K,2020-09-26,0,2020,0,0,4061000000,98667000000,180175000000,0,65339000000,42522000000,11264000000,49327000000,54490000000,36766000000,37445000000,2020-10-30,14966000000,65339000000,11264000000,AAPL,323888000000,105392000000,258549000000,0,BALANCE_SHEET,AAPL,annual,1601078400000,1619798874000
1,46236000000,None,18471336000,USD,162819000000,100557000000,16240000000,10-K,2019-09-28,0,2019,0,0,4106000000,91807000000,175697000000,0,90488000000,32978000000,12352000000,43242000000,50503000000,37378000000,45804000000,2019-10-31,45898000000,90488000000,12352000000,AAPL,338516000000,105718000000,248028000000,0,BALANCE_SHEET,AAPL,annual,1569628800000,1619798874000
2,55888000000,None,19821508000,USD,131339000000,66301000000,20748000000,10-K,2018-09-29,0,2018,0,0,3956000000,93735000000,234386000000,0,107147000000,1983000000,12087000000,40230000000,47551000000,41304000000,48995000000,2018-11-05,70400000000,107147000000,12087000000,AAPL,365725000000,116866000000,258578000000,0,BALANCE_SHEET,AAPL,annual,1538179200000,1619798874000
3,49049000000,None,20868968000,USD,128645000000,74181000000,18473000000,10-K,2017-09-30,0,2017,5717000000,2298000000,4855000000,97207000000,246674000000,0,126032000000,10162000000,13936000000,33292000000,11747000000,33783000000,35673000000,2017-11-03,98330000000,134047000000,13936000000,AAPL,375319000000,100814000000,241272000000,0,BALANCE_SHEET,AAPL,annual,1506729600000,1619798874000

In [12]:
cash_flow = stock.get_cashflow(last=4)
df_cashflow = pd.json_normalize(cash_flow, record_path =['cashflow'])
df_cashflow

,capitalExpenditures,cashChange,cashFlow,cashFlowFinancing,changesInInventories,changesInReceivables,currency,depreciation,dividendsPaid,exchangeRateEffect,filingType,fiscalDate,fiscalQuarter,fiscalYear,investingActivityOther,investments,netBorrowings,netIncome,otherFinancingCashFlows,reportDate,symbol,totalInvestingCashFlows,id,key,subkey,date,updated
0,-7309000000,-9614000000,80674000000,-86820000000,-45000000,-8359000000,USD,11056000000,None,None,10-K,2020-09-26,0,2020,None,None,10229000000,57411000000,None,2020-10-30,AAPL,-4289000000,CASH_FLOW,AAPL,annual,1601078400000,1619798873000
1,-10495000000,34256000000,69391000000,-90976000000,150000000,-3191000000,USD,12547000000,None,None,10-K,2019-09-28,0,2019,None,None,-4862000000,55256000000,None,2019-10-31,AAPL,45896000000,CASH_FLOW,AAPL,annual,1569628800000,1619798873000
2,-13313000000,-7880000000,77434000000,-87876000000,-899000000,13322000000,USD,10903000000,None,None,10-K,2018-09-29,0,2018,None,None,36095000000,59531000000,None,2018-11-05,AAPL,16066000000,CASH_FLOW,AAPL,annual,1538179200000,1619798873000
3,-12795000000,7026000000,63598000000,-17347000000,2723000000,6374000000,USD,10157000000,None,None,10-K,2017-09-30,0,2017,None,None,27563000000,48351000000,None,2017-11-03,AAPL,-46446000000,CASH_FLOW,AAPL,annual,1506729600000,1619798873000

In [13]:
income = stock.get_income(last=4)
df_income= pd.json_normalize(income, record_path =['income'])
df_income

,costOfRevenue,currency,ebit,filingType,fiscalDate,fiscalQuarter,fiscalYear,grossProfit,incomeTax,interestIncome,minorityInterest,netIncome,netIncomeBasic,operatingExpense,operatingIncome,otherIncomeExpenseNet,pretaxIncome,reportDate,researchAndDevelopment,sellingGeneralAndAdmin,symbol,totalRevenue,id,key,subkey,date,updated
0,169559000000,USD,66288000000,10-K,2020-09-26,0,2020,104956000000,9680000000,2873000000,0,57411000000,57411000000,208227000000,66288000000,0,67091000000,2020-10-30,18752000000,19916000000,AAPL,274515000000,INCOME,AAPL,annual,1601078400000,1619798874000
1,161782000000,USD,63930000000,10-K,2019-09-28,0,2019,98392000000,10481000000,3576000000,0,55256000000,55256000000,196244000000,63930000000,0,65737000000,2019-10-31,16217000000,18245000000,AAPL,260174000000,INCOME,AAPL,annual,1569628800000,1619798874000
2,163756000000,USD,70898000000,10-K,2018-09-29,0,2018,101839000000,13372000000,3240000000,0,59531000000,59531000000,194697000000,70898000000,0,72903000000,2018-11-05,14236000000,16705000000,AAPL,265595000000,INCOME,AAPL,annual,1538179200000,1619798874000
3,141048000000,USD,61344000000,10-K,2017-09-30,0,2017,88186000000,15738000000,2323000000,0,48351000000,48351000000,167890000000,61344000000,0,64089000000,2017-11-03,11581000000,15261000000,AAPL,229234000000,INCOME,AAPL,annual,1506729600000,1619798874000

In [33]:
df = pd.concat([df_income[['symbol','fiscalYear','totalRevenue', 'netIncome']], df_cashflow[['cashFlow','capitalExpenditures']],df_balancesheet[['currentLongTermDebt', 'longTermDebt']]],axis=1)
df

,symbol,fiscalYear,totalRevenue,netIncome,cashFlow,capitalExpenditures,currentLongTermDebt,longTermDebt
0,AAPL,2020,274515000000,57411000000,80674000000,-7309000000,13769000000,98667000000
1,AAPL,2019,260174000000,55256000000,69391000000,-10495000000,16240000000,91807000000
2,AAPL,2018,265595000000,59531000000,77434000000,-13313000000,20748000000,93735000000
3,AAPL,2017,229234000000,48351000000,63598000000,-12795000000,18473000000,97207000000

In [32]:
df = df.T
df

                                0             1             2             3
symbol                       AAPL          AAPL          AAPL          AAPL
fiscalYear                   2020          2019          2018          2017
totalRevenue         274515000000  260174000000  265595000000  229234000000
netIncome             57411000000   55256000000   59531000000   48351000000
cashFlow              80674000000   69391000000   77434000000   63598000000
capitalExpenditures   -7309000000  -10495000000  -13313000000  -12795000000
currentLongTermDebt   13769000000   16240000000   20748000000   18473000000
longTermDebt          98667000000   91807000000   93735000000   97207000000

In [44]:
df['fcfEquity'] = df.cashFlow + df.capitalExpenditures
df['fcfByTotalRevenue'] = df.fcfEquity/df.totalRevenue
df['fcfByNetIncome'] = df.fcfEquity/df.netIncome
df

,symbol,fiscalYear,totalRevenue,netIncome,cashFlow,capitalExpenditures,currentLongTermDebt,longTermDebt,fcfEquity,fcfByTotalRevenue,fcfByNetIncome
0,AAPL,2020,274515000000,57411000000,80674000000,-7309000000,13769000000,98667000000,73365000000,0.27,1.28
1,AAPL,2019,260174000000,55256000000,69391000000,-10495000000,16240000000,91807000000,58896000000,0.23,1.07
2,AAPL,2018,265595000000,59531000000,77434000000,-13313000000,20748000000,93735000000,64121000000,0.24,1.08
3,AAPL,2017,229234000000,48351000000,63598000000,-12795000000,18473000000,97207000000,50803000000,0.22,1.05

In [48]:
df.iloc[::-1].reset_index().drop('index',axis=1)

,symbol,fiscalYear,totalRevenue,netIncome,cashFlow,capitalExpenditures,currentLongTermDebt,longTermDebt,fcfEquity,fcfByTotalRevenue,fcfByNetIncome
0,AAPL,2017,229234000000,48351000000,63598000000,-12795000000,18473000000,97207000000,50803000000,0.22,1.05
1,AAPL,2018,265595000000,59531000000,77434000000,-13313000000,20748000000,93735000000,64121000000,0.24,1.08
2,AAPL,2019,260174000000,55256000000,69391000000,-10495000000,16240000000,91807000000,58896000000,0.23,1.07
3,AAPL,2020,274515000000,57411000000,80674000000,-7309000000,13769000000,98667000000,73365000000,0.27,1.28

In [49]:
import numpy as np

In [57]:
future_years = np.r_[df.fiscalYear.max()+1:2026]
for i in future_years:
    df = df.append()

array([2021, 2022, 2023, 2024, 2025])